@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/*전체 기본값 */

/*main페이지*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* body {
	margin-right: 15%;
	margin-left: 15%;
	padding: 0;
} */


.container {
	width:80%;
	margin:0 auto;
	min-height: 700px;
	margin-top: 100px;
	padding: 40px 40px 100px;
	margin-bottom: 100px;
    overflow: hidden;
}

.row {
	height: auto;
}

/*navbar*/
.navbar {
 	box-shadow: 0 1px 0 0 #c4c4c4;
	height: 80px;
	background-color: white;
	font-family: 'Jua';
	padding:10px;
	display: table-cell;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}


.navbar #menu {
	float: right;
	width:450px;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 60px;
}

.navbar #menu li.menuli {
	width: 100px;
	text-align: center;
	float: left;
	background-color: white;
}

.navbar #menu li a {
	color: black;
	font-size: 17px;
	text-decoration: none;
	width: 100%;
}

.navbar .logo {
	height: 90%;
	margin: 2px;
	margin-left:30px;
}

.son {
	width: 100%;
	padding-left:0px;
}

.son li {
	list-style: none;
	width: 100%;
	background-color: white;
}




/*header-img*/
.header-img {
	height: 300px;
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}




/* footer 스타일*/

.footer {
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-top: 10px;
	padding: 50px 40px;
	border-top: 1px solid #ebebeb;
	background-color: white;
}

.footer .footer_content {
	position: relative;
}

.manual_info {
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	flex-direction: row-reverse;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-bottom: 25px;
	border-bottom: 1px solid black;
	width: 100%;
}

.cs_service {
	box-sizing: border-box;
	margin-right: 0px;
	margin-bottom: 20px;
}

.cs_service_title {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 17px;
	letter-spacing: 1.16px;
	font-weight: 700;
}

.cs_service .cs_consultant {
	margin-left: 4px;
	letter-spacing: normal;
	text-decoration: none;
	color: black;
	font-size: 17px;
	font-weight: bold;
}

.service_time {
	padding-top: 7px;
}

.time_box {
	line-height: 17px;
}

.sc_text {
	font-size: 15px;
	letter-spacing: -0.57px;
	margin-top: 15px;
}

}
.sc_button {
	padding-top: 15px;
}

.sc_btn {
	background-color: darkgray;
	border-radius: 0px;
	color: white;
	font-size: 17px;
	letter-spacing: 1.91px;
	text-decoration: none;
	padding: 5px;
	display: block;
	width: 55%;
	margin-top: 10px;
}

.footer_menu {
	display: flex;
	width: 50%;
	margin-left: 30px;
}

.menu_box {
	width: 200px;
}

.menu_title {
	font-size: 17px;
	letter-spacing: -0.2px;
}

.menu_list {
	padding: 0px;
}

.footer_menu_item {
	list-style: none;
	margin-top: 16px;
}

.footer_menu_item a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.footer_menu_link {
	display: inline-block;
	font-size: 15px;
	letter-spacing: 0.21px;
}

.notice_info {
	text-align: center;
	margin-top: 15px;
	padding: 10px;
}

.notice_info p {
	margin-top: 5px;
	color: black;
}

::-webkit-scrollbar {
	width:10px;
	background-color:transparent;
}
