@charset "UTF-8";

.board li a{
	text-decoration : none;
	color : black;
}

/*board, write*/
#boardContainer{
	width:100%;
	min-height: 700px;
	margin-top: 100px;
	padding: 40px 40px 160px;
	margin-bottom: 100px;
    overflow: hidden;
}

#sub_board_menu{
	float: left;
	width: 20%;
}

#sub_board_menu a{
	text-decoration: none;
	color: black;
	font-size: 200%;
	font-weight: bold;
}

#sub_board_menu nav{
	box-sizing: border-box;
}

#sub_board_menu nav a{
	text-decoration: none;
	color: black;
	font-size: 120%;
	font-weight: normal;
	text-align: left;
}

#sub_list{
	margin-top: 30px;
	padding: 0px;
}

#sub_list li{
	margin-top: 30px;
}

#bwrite a{
	cursor: pointer;
}
#bwrite a:hover{font-size:150%; font-weight:bold;}

#content{
	overflow: hidden;
}

.pagination{
	padding: 28px 0;
}

/* 게시판 목록 */
/* 공통옵션 */
ul li {list-style:none; }
.fl {float:left; }
.tc {text-align:center; }
.board {
	width: 100%;
	padding: 0px;
}
.w10 {width:10%; }
.w50 {width:60%; }
.w20 {width:20%; }

.title {
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    background: white;
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    letter-spacing: 7px;
    font-size: larger;
}

.list {
    margin-top: 20px;
    height: 45px;
    line-height: 40px;
    background: white;
    border-bottom: 1px solid #ebebeb;
    letter-spacing: 1px;
}

/*글쓰기*/
#write_form{
	width: 80%;
    float: right;
}

#wrtie_area{
	float:left;
	width:100%;
	margin-top: 10px;
}

#board_title{
    width: 81%;
    height: 36px;
    margin-bottom: 5px;
}

#write_submit_btn{
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 20%;
    letter-spacing: 2px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 30px;
    font-size: larger;
    font-weight: 700;
    color: black;
}

#write_select{
	width: 18%;
    height: 35px;
    text-align: center;
}

#bdetail_area{
	overflow: hidden;
    border-top: 1px solid black;
    margin-top: 25px;
}

#dtitle{
	float: left;
    width: 50%;
}

#dmember{
    float: left;
    width: 25%;
}

#ddate{
    float: left;
    width: 25%;
}

#dtitle_area{
    display: flex;
    height: 50px;
    font-size: 17px;
    border-bottom: 1px solid black;
	background-color: #6FCC9870;
    line-height: 50px;
    padding-left: 5px;
}

#dcontent{
	padding: 5px;
	padding-top: 25px;
    border-bottom: 1px solid black;
    min-height: 300px;
}

#detail_btn{
	text-align: end;
}

#detail_btn button{
	height: 30px;
    background-color: whitesmoke;
    font-weight: 700;
    border: 1px solid black;
    margin-top: 5px;
    cursor: pointer;
    width: 15%;
}

/* comment */
#comment{
	width:100%;
	border: none;
	margin: 0 auto;
	padding: 5px;
}

#comment ul {
    border: none;
    width: 95%;
    list-style: none;
    padding: 5px;
    margin: 0 auto;
}

li#commentContainer {
    width: 100%;
}

div#commentbox {
    width: 100%;
}

.commentInfoText{
	margin: 0px;
    width: 50%;
    display: inline-block;
}

.commentModify{
	float:right;
}

.commentModify a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: smaller;
}

div#commentContent {
    margin: 10px 5px;
}

div#commentWrite {
    border: none;
    width: 95%;
    list-style: none;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
}

#commentWriteText {
    width: 100%;
    margin: 0px;
    padding: 5px;
    height: 100px;
}

#commentWriteBtn{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 20%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 30px;
    background-color: cadetblue;
    color: white;
    letter-spacing: 5px;
    font-size: larger;
}

#commentWriteBtn:hover{
	font-weight: 700;
}

.commentModify a:hover{
	font-weight: 700;
}

.modifyWrite textarea{
	width: 100%;
    margin: 0px;
    padding: 5px;
    height: 130px;
}

#modifyWriteBtn{
	width: 100%;
    margin-top: 10px;
    text-align: right;
    background-color: white;
}






