@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap')

.sc_button{
	padding-top: 15px;
}

.sc_btn{
	background-color: darkgray;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    letter-spacing: 1.91px;
    text-decoration: none;
    padding: 5px;
    display: block;
    width: 42%;
    margin-top: 10px;
    text-align: center;
}

.footer_menu{
	display: flex;
	width: 50%;
	margin-left: 30px;
}

.menu_box{
	width: 200px;
}

.menu_title{
	font-size: 17px;
    letter-spacing: -0.2px;
}

.menu_list{
	padding: 0px;
}

.footer_menu_item {
	list-style: none;
	margin-top: 16px;
}

.footer_menu_item a{
	text-decoration: none;
	color:black;
	font-size: 15px;
}